<h1>Ürünler</h1>

<%= link_to "Google Sheet'ten Güncelle", import_products_path, method: :post, data: { confirm: "Sheet'ten veriler çekilsin mi?" } %><br><br>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Ad</th>
      <th>Fiyat</th>
      <th>Stok</th>
      <th>Kategori</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.stock %></td>
        <td><%= product.category %></td>
        <td>
          <%= link_to "Göster", product_path(product) %> |
          <%= link_to "Düzenle", edit_product_path(product) %> |
          <%= link_to "Sil", product_path(product), method: :delete, data: { confirm: "Silinsin mi?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Yeni Ürün", new_product_path %>